- function capitalize(val) { return val.charAt(0).toUpperCase() + val.slice(1); }
mixin input-field(label)
	label.input-field-label(for=attributes.id)=label
	span.input-field-input(class=attributes.class)
		block
mixin select-field(label, values, def)
	+input-field(label).select-field&attributes(attributes)
		select&attributes(attributes)
			option(value="") #{def||""}
			each val in values
				option(value=val) #{capitalize(val)}
mixin radios(name, options)
	.radios
		each value, index in options
			label.radio-button
				input(type="radio", name=name, value=value, checked=index==0)
				span=capitalize(value)
mixin radios-field(name, options)
	span.input-field-label=capitalize(name)
	+radios(name, options)

doctype html
html
	head 
		title Classpex Generator
		link(rel="stylesheet" href="/public/form/style.css")
		meta(name="viewport" content="width=device-width")
		block metadata
	body 
		.container
			block contents